.sidebar{
    width: 456px;
    margin-left: 70px;
    height: 1030px;
    position: absolute;
    background-color: #fff;
}
  
ul>li{
    margin: 30px;
    width: 350px;
    height: 118px;
    border: 1px gray;
    list-style-type: none; 
    
}

.btn:hover{
    border: 3px solid rgb(61, 180, 254)
}
.btn:visited{
    border: 3px solid rgb(61, 180, 254)
}

.btn{
    border-radius: 10px;
    border: 1px solid grey;
    background-color: transparent;
    cursor: pointer;
}

.box{
    background: grey;
    width: 70px;
    height: 70px;
    margin: 24px;
    float: left;
    border-radius: 5px;
}