body{
  background: #E5E5E5;
}

.App{
  text-align: center;
  width: 1359px;
}

.header{
   Width :1359px;
   height: 68px;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 2px solid grey;
   justify-content: center;
   margin-left: 70px;
   background-color: #fff;
   padding-top: 20px;
   box-sizing: border-box;
}

.radio{  
  transform: scale(1.5);
  margin: 10px;
  cursor: pointer;
}
.Heading{
  position: absolute;
  background: #F5F5F5;
  height: 1030px;
  width: 903px;
  margin-left: 526px;
  text-align: left;
}

.main-container{
  width: 716px;
  height: 150px;
  margin-left:95px ;
  /* background: rgba(15, 173, 235, 0.15); */
  background: rgb(175, 218, 244);
  padding-top: 10px;
  padding-left: 36px;
  border-radius: 8px 8px 0px 0px;
  box-sizing: border-box;
}

.sub-heading{
margin-top: 48px;
margin-left: 93px;
}

.Form-Body{
  margin-left: 99px ;
  padding-top: 60px;
  margin-right: 102px;
}

.col{
  width: 716px;
  height: 730px;
  background-color: #fff;
  margin-left: 95px;
  padding-top: 0px;
}

li{
  list-style-type: none;
}

.input-box{
  width: 350px;
  height: 25px;
  border-radius: 4px;
  border: 2px solid grey;
}
#cross-btn:hover{
color: rgb(61, 180, 254);
transform: scale(1.2);
}
#cross-btn{
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.footer{
  border-top: 2px solid grey;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background-color: #fff;
  Width :1358px;
  height: 64px;
  margin-top: 1030px;
  margin-left: 70px;
  text-align: right;
}

.next-button{
  background:#1A8FE6;;
  width: 109px;
  height: 32px;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 17px;
  margin-right: 43px;
  cursor: pointer;
}

.next-button:hover{
  transform: scale(1.1);
}



